<% content = render @object, turbo: @turbo %>
<%= ov_modal_objects_view @klass, content, @turbo do %>
<p style="alert alert-primary"><%= notice %></p>

<h1>Student</h1>
<%= content %>

<div class='ov-button-row'>
<%= ov_edit @object %>
<%= ov_index @klass %>
<%= ov_delete @object %>
</div>
<% end %>
