<%  content = controller.render_to_string("_form", formats: [:html], layout: false,
    locals: { @klass_sym => @object, turbo: @turbo }) %>
<%= ov_modal_objects_view @klass, content, @turbo do %>
<% content_for :title, "Editing #{@klass_str}" %>

<h1>Editing <%= @klass_str %></h1>

<%= content %>
<br>

<div class='ov-button-row'>
<%= ov_show @object %>
<%= ov_index @klass %>
<%= ov_delete @object %>
</div>
<% end %>
